<h1><b>Ahorkado</b></h1>
<p>
<h1><b><%= @palabra_oculta %> </b></h1>
<p>
<h2>vidas:<b><%= @vidas %> </b></h2> 
<form action="/ingresarLetra" method="post">

		<p>Ingresar letra:<input type="text" name="proxima_letra">
	<p><input type="submit" value ="Ingresar">
	<h1> <b><%= @resultado %> </b></h1>
	<h1> <b><%= @mensaje %> </b></h1>
	
</form>
